Package: com.ideviceteam.bettertelegram
Name: BetterTelegram
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: alby
Author: alby
Section: Tweaks
